
.profileContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px;
    gap: 20px;
    overflow: auto;
}

.leftCard, .rightCard {
    flex: 1;
    min-width: 48%; /* Para desktops */
    max-height: 95vh;
    overflow-y: auto;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); !* Melhorando a visualização *!*/
    background-color: #fff;
    border-radius: 8px;
}

.rightCard {
    box-shadow: none; /* Melhorando a visualização */
}

@media (max-width: 1024px) {
    .leftCard, .rightCard {
        min-width: 100%; /* Cartões ocupam toda a largura */
    }
}

@media (max-width: 768px) {
    .profileContainer {
        flex-direction: column; /* Colocar os cartões um abaixo do outro */
    }

    .leftCard, .rightCard {
        min-width: 100%;
        margin: 0 0 20px 0; /* Adicionar espaçamento entre os cartões */
    }
}

.profileCellInfo{
    display: flex;
}

.IconImage{
    height: 32px;
    width: auto;
}

.editIcon{
    height: 24px;
    width: auto;
    cursor: pointer;
}

.editIcon:hover{
    transform: scale(1.1);
    transition: transform .4s;
}
.StaticIcon{
    height: 32px;
    width: auto;
    color: #020f60;
}

.profileHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.profileImage {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover; /* Adapta imagens de perfil carregadas */
    margin-bottom: 16px;
}

.headerText {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerText > h2 {
    text-align: center;
    width: 250px;
}

.tipyContante {

    text-align: center;
}

.tippyClick {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 8px;
}

.tippyClick > p {
    color: #4caf50;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
}
.tipyContante > h3 {
    color: #ec971f;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
}

.status {
    font-weight: bold;
    color: #fff;
    background-color: green; /* Indicador básico de status */
    padding: 4px 12px;
    border-radius: 16px;
    font-size: 0.9rem;
    text-transform: uppercase;
}

.creationDate {
    text-align: end;
    margin-bottom: 20px;
}

.error {
    color: red;
    font-weight: bold;
}

.profileSectionContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.profileSection {
    flex: 2;
    min-width: calc(50% - 10px); /* Ensure cards take up around 50% of the container width */
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.statusContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.statusSelect {
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.statusSelect:hover {
    border-color: #007bff;
}

.statusIcon {
    color: green;
    font-size: 1.2rem;
}


.personalSectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cardContainer{
    height: 100%;
    background: white;
    padding: 20px;
    border-radius: 0 10px 10px 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); /* Adiciona sombra para destacar */
    border: 1px solid #ddd;
    z-index: 9999;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.sectionTitle {
    font-size: 1.2em;
    color: #020f60;
    margin: 0;
}

.titleContainer{
    display: flex;
    gap: 12px;
    align-items: center;
}

.imcCell{
    display: flex;
    gap: 16px;
}

.profileCellRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    text-decoration: none;
    color: #005bb5;
    font-weight: 500;
    margin: 10px 0;
    width: 100%;
}

.profileCellRowIMC {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

}

.profileCellRowIMCLeft{
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 100%;
}

.profileCellRowIMCRight{
    display: flex;
    gap: 16px;
    width: 50%;
}

.profileCellRowIMCLeftContent{
    display: flex;
    align-items: center;
    gap: 16px;
    width: 50%;
}

.ImcTexts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.StaticIconSaude{
    height: 48px;
    width: auto;
}

.TitleImc{
    font-weight: 700;
    font-size: 1rem;
}

.FontImc{
    font-weight: 500;
    color: #005bb5;
    text-transform: uppercase ;
}

.cardBody{
    display: flex;
    flex-direction: column;
}

.profileCellRowIMC > p{

}

.profileContactRow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 0;
}


.nascimentoCell{
    display: flex;
    gap: 16px;
    width: 50%;
}

.profileCellRow p {
    margin: 0;
    padding: 5px 0;
    flex: 1;
}

.titleImage{
    height: 24px;
    width: auto;
}

.titleHeader{
    display: flex;
    align-items: center;
    gap: 8px;
}

.profileCellRow p strong {
    color: #555;
}


.IconImage:hover{
    transition: 800ms;
    transform: scale(1.2);

}

.cardHeader button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cardHeader button:hover {
    background-color: #0056b3;
}

.observationSection {
    margin-top: 20px;
}

.observationSection textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    max-height: 150px; /* Maximum height for textarea */
    overflow-y: auto; /* Scroll when content overflows */
}

.observationSection button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.observationSection button:hover {
    background-color: #218838;
}

.addObservationButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #17a2b8;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.addObservationButton:hover {
    background-color: #117a8b;
}

.observationDisplay {
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    max-height: 150px; /* Maximum height for observation display */
    overflow-y: auto; /* Scroll when content overflows */
}

.errorMessage {
    color: red;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Melhorias no layout das abas */
.tabList {
    display: flex;
    align-items: flex-end;
    width: 90%;
    margin-bottom: 0;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    color: #555;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px 8px 0 0;
    margin-left: -5px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    position: relative;
    /*z-index: 1; !* Coloca a aba sobre as outras *!*/
    outline: none; /* Remove o foco padrão */
}

.tab:first-child {
    margin-left: 0; /* Remove a sobreposição para a primeira aba */
}

.tab:hover {
    background-color: #eaeaea;
    color: #007bff;
}

.tabSelected {
    background-color: #fff;
    position: relative;
    color: #0056b3;
    border: 1px solid #ddd;
    margin-left: -5px;
    border-bottom: 1px solid #fff; /* Remove a borda inferior para continuidade */
    margin-bottom: -2px;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.1); /* Adiciona sombra para destacar */
    z-index: 1; /* Eleva a aba selecionada à frente */
    transition: margin-bottom 0.3s ease;
}

/* Ajustar o conteúdo das abas para parecer "atrás" da aba ativa */
.tabPanel {
    border: 1px solid #ddd;
    border-radius: 0 0 8px 8px;
    padding: 20px;
    margin-top: -1px; /* Conecta o conteúdo com a aba ativa */
    background-color: #fff;
    border-top: none; /* Remove a borda superior do conteúdo */
}

/* EditClientModal.module.css */
.modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 100%;
    z-index: 1000;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.modalTitle{
    color: #005bb5;
    font-weight: bold;
    margin: 16px 0;
}

.statusGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 20px;
}

.statusCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.statusCard:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.overlay label {
    display: block;
    margin-bottom: 10px;
}

.overlay input,
.overlay select {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.overlay button {
    padding: 10px 20px;
    margin-top: 10px;
    margin-right: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.overlay button:hover {
    background-color: #0056b3;
}

.overlay button[type="button"] {
    background-color: #6c757d;
}

.overlay button[type="button"]:hover {
    background-color: #5a6268;
}

.imcAbaixoPeso {
    color: orange;
}

.imcPesoNormal {
    color: green;
}

.imcSobrepeso {
    color: orange;
}

.imcObesidadeGrau1 {
    color: darkorange;
}

.imcObesidadeGrau2 {
    color: orangered;
}

.imcObesidadeGrau3 {
    color: red;
}

.imcDesconhecido {
    color: black;
}

.profileCellRowDoenca{
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    width: 100%;
    box-sizing: border-box;
}

.titleWithIcon {
    display: flex;
    align-items: center;
    background-color:  #f9f9f9;
    gap: 16px;
    width: 100%;
    border-bottom: 1px solid rgba(234, 233, 233, 0.8);
    padding: 16px ;
    color: #020f60;
    font-weight: bold;
    font-size: 1.1rem;
}

.copyIcon {
    cursor: pointer;
    width: 16px;
    height: 16px;
}

.copyIcon:hover{
    transition: 800ms;
    transform: scale(1.2);
}

.infoCard {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
    /*margin-top: 5px;*/
    font-size: 14px;
}

.statusModal {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    max-width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.statusOptions {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.statusButton {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.statusButton:hover {
    opacity: 0.8;
}

.closeButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #6c757d;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.closeButton:hover {
    background-color: #5a6268;
}

/*daqui para frente*/

.statusContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.statusBadge {
    padding: 5px 10px;
    border-radius: 12px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

.statusIcon {
    font-size: 1.2rem;
    color: green;
    cursor: pointer;
}

/* Modal */

.statusModal {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    margin: auto;
    text-align: center;
    position: absolute;
    height: fit-content;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}


.modalTitle {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
}

.dropdown {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

.modalActions {
    display: flex;
    justify-content: space-between;
}

.confirmButton {
    background: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.confirmButton:hover {
    background: #45a049;
}

.cancelButton {
    background: #f44336;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.cancelButton:hover {
    background: #e53935;
}

.tippy-box {
    background-color: #333 !important;
    color: white;
    font-size: 14px;
    padding: 8px;
    border-radius: 6px;
}

