.dashboardLayout {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.mainContent {
    margin-left: 250px; /* Ajustar de acordo com a largura do sidebar */
    margin-top: 250px; /* Ajustar de acordo com a largura do sidebar */
    padding: 2rem;
    flex-grow: 1;
}

.canva{
    width: 100%;
    height: 100%;
}
