.container {
    padding: 20px;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.steps {
    margin-bottom: 24px;
    padding: 24px 48px;

}

.stepContent {
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 24px;
    max-height: calc(100vh - 150px);
    overflow: auto;
}

.stepsAction {
    margin-top: 24px;
    text-align: right;
}

.buttonStep {
    margin-top: 24px;
}