.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
}

.label {
    margin-bottom: 5px;
    font-weight: bold;
}

.select {
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
}

.form input,
.form select {
    width: 100%;
}
