.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*indicações*/
.indicacaoSection {
    margin-bottom: 16px;
}

.indicacaoFieldset {
    padding: 12px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.indicacaoLegend {
    font-size: 1rem;
    font-weight: bold;
    padding: 0 8px;
    color: #333;
}

.radioGroup {
    display: flex;
    gap: 12px;
    margin-bottom: 12px;
}

.radioOption {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 0.875rem;
}

.selectWrapper {
    margin-top: 8px;
}

.errorSelect {
    border-color: red !important;
    background-color: #ffe6e6 !important;
}

.errorMessage {
    color: red;
    font-size: 0.875rem;
    margin-top: 4px;
}

/*fim*/

/*oportunidades*/
.fieldset {
    margin-bottom: 16px;
    border: 1px solid #e0e0e0;
    padding: 8px;
    border-radius: 8px;
}

.legend {
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 1rem;
}

.opportunitySection {
    margin-bottom: 20px;
}

.opportunityFieldset {
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 16px;
}

.opportunityLegend {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.opportunityGrid {
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin-bottom: 16px;
}

.selectOpportunity {
    width: 100%;
}

.contatoContainer{
    display: flex;
    gap: 12px;
    width: 100%;
}

.contatoContainer > * {
    flex: 1;
}

.inputOpportunity {
    width: 100%;
}

.opportunityButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
}

.addOpportunityButton{
    background-color: transparent;
    border: none;
    text-decoration: underline;
    color: #0d6efd;
    margin: 16px 0;

}

.opportunityList {
    margin-top: 16px;
}

.opportunityItem {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 8px;
}
/*fim*/
.inputContainer {
    display: flex;
    flex-direction: column;
}

.nameContainer {
    display: flex;
    gap: 16px; /* Espaçamento entre os campos */
}

.nameContainer > * {
    flex: 1; /* Faz os campos ocuparem o mesmo espaço */
}

.label {
    margin-bottom: 5px;
    font-weight: bold;
}

.select {
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
}


.form input,
.form select {
    width: 100%;
}

.error {
    border: 2px solid red;
    background-color: #ffe6e6;
}

.errorSelect {
    border: 2px solid red !important;
    background-color: #ffe6e6 !important;
    border-radius: 5px;
}

.custom-select__control {
    border-color: #e0e0e0;
}

.custom-select__control--is-focused {
    border-color: #007bff;
}

.errorMessage {
    color: red;
    font-size: 0.875rem;
    margin-top: 5px;
}


.profissaoWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px; /* Espaçamento entre os elementos */
}

.cadastrarProfissao {
    display: flex;
    align-items: center; /* Alinha o texto com o ícone */
    justify-content: center;
    gap: 4px; /* Espaçamento entre o texto e o ícone */
    background: none;
    border: none;
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
    font-size: 0.875rem; /* Deixe o botão mais discreto */
    padding: 0;
    margin: 8px 0; /* Espaçamento para separá-lo visualmente */
}

.cadastrarProfissao:hover {
    color: #0056b3;
    text-decoration: none;
}

.errorMessage {
    color: red;
    font-size: 0.875rem;
    margin-top: 4px;
}


.searchInput {
    margin-bottom: 8px; /* Espaçamento abaixo do campo de busca */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
