.container {
    margin: 20px;
    font-family: Arial, sans-serif;
}

.filterContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.select {
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-left: 10px;
}

.addButton {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.addButton:hover {
    background-color: #218838;
}

.icon {
    margin-right: 8px;
    font-size: 18px;
}

.containerTable {
    overflow: auto;

}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th, .table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #f4f4f4;
    color: #333;
}

.table tr:hover {
    background-color: #f1f1f1;
}

.propostaAprovada {
    color: green;
    font-weight: bold;
}

.propostaRejeitada {
    color: red;
    font-weight: bold;
}

.table a {
    color: #007bff;
    text-decoration: none;
}

.table a:hover {
    text-decoration: underline;
}

.table tbody tr:nth-child(even) {
    background-color: #f4f4f4; /* Cor de fundo mais clara para as linhas pares */
}

.table tbody tr:nth-child(odd) {
    background-color: #ffffff; /* Cor de fundo padrão para as linhas ímpares */
}
