.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #f5f5f5;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: fixed;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
    padding-bottom: 2rem;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 2rem;
}

.userImage {
    height: 1.9rem;
    width: auto;
    border-radius: 50%;
    margin-right: 1rem;
}

.profileDetails {
    display: flex;
    flex-direction: column;
}

.profileDetails > h3{
    font-size: 1rem;
}
.profileDetails > p{
    margin-top: 4px;
    font-size: 0.8rem;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin-bottom: 1rem;
}

.sidebar nav ul li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

.sidebar nav ul li a:hover {
    color: #000;
}

/*celulas*/

.cell{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #494c4e;
    border: 1px solid #cccccc;
    padding: 0.5rem;
    border-radius: 0.8rem;
}

.iconImage {
    height: 1.9rem;
    width: auto;
    margin-right: 1rem;
}

.arrowImage{
    height: 1rem;
    width: auto;
    margin-left: 1rem;
}

.logo{
    width: 12rem;
    height: auto;
}