.sidebar {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 250px;
    height: 100vh;
    padding: 1rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
    background-color: rgb(5, 26, 53);
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
    padding-bottom: 2rem;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 2rem;
}

.userMenu{
    display: flex;
    flex-direction: column;
    /*color: #e0e0e0;*/
    padding: 1.5rem 0;
}

.userMenuAcecces{
    display: flex;
    cursor: pointer;
    align-items: center;
    color: #e0e0e0;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

.userImage {
    height: 1.9rem;
    width: auto;
    margin-right: 1rem;
}

.dropdownMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem;

}

.dropdownBar{
    height: 2px;
    width: 80%;
    background-color: #5f94c9;
    margin: 1rem 0 1.5rem 0;
    border-radius: 2rem;
}

.dropdownButton{
    display: flex;
    align-items: center;
    gap: 1.3rem;
    width: 100%;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    margin-bottom: 1rem;
}

.dropdownButton img {
    width: 2rem;
    height: auto;
}
.profileDetails {
    display: flex;
    flex-direction: column;
}

.profileDetails > h3{
    font-size: 1rem;
}
.profileDetails > p{
    margin-top: 4px;
    font-size: 0.8rem;
}

.sidebar > nav > ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 16px;
}

.sidebar nav ul button {
    color: #333;
    transition: color 0.3s;
}

.sidebar nav ul button:hover {
    color: #000;
    background-color: #cccccc;
}

/*celulas*/

.cell{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #494c4e;
    border: 1px solid #cccccc;
    padding: 0.5rem;
    border-radius: 0.8rem;
    cursor: pointer;
}

.iconImage {
    height: 1.9rem;
    width: auto;
    margin-right: 1rem;
}

.arrowImage{
    height: 1rem;
    width: auto;
    margin-left: 1rem;
}

.logo{
    min-width: 12rem;
    width: 100%;
    height: auto;
}