.body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background-color: #f9f9f9;
    color: #333;
    font-family: 'Arial', sans-serif;
}

.headerTerms {
    background-color: #020f60;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.headerTerms > h1 {
    color: #ededef;
    margin: 0;
    font-size: 2.5em;
}

.containerContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.containerContent h2 {
    color: #020f60;
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.containerContent p,
.containerContent ul {
    line-height: 1.6;
    text-align: justify;
    font-size: 1.2em;
    color: #444;
}

.containerContent ul {
    list-style-type: disc;
    margin-left: 20px;
}

.containerContent a {
    color: #0d6efd;
    text-decoration: none;
}

.containerContent a:hover {
    text-decoration: underline;
}

.footerTerms {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    background-color: #020f60;
    color: white;
}

.footerTerms p {
    margin: 0;
}
