.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.label {
    margin-bottom: 5px;
    font-weight: normal; /* Deixa o label com peso normal */
    color: #333; /* Cor neutra para o label */
}

.required {
    color: red;
    margin-left: 4px;
    font-size: 12px;
}

.select {
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}

.select:focus {
    border-color: #007bff; /* Cor ao focar no campo */
}
