.main{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 9rem);
  gap: 5rem;
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

.hero{
  height: 25rem;
  width: auto;
}

.heroContant{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.heroContant>h1{
  font-size: 2.5rem;
  width: 42rem;
  line-height: 5rem;
}

.heroContant>p{
  font-size: 1.5rem;
  width: 42rem;
  line-height: 2.3rem;

}

.heroContantButton{
  display: flex;
  gap: 1.5rem;
}

.button{
  font-size: 1rem;
  font-weight: bold;
  margin-top: 2rem;
  padding: 1rem;
  width: 15rem;
  background-color: #020f60;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid #07011e;
  color: #ffffff;
}

.button:hover{
  background-color: rgba(198, 165, 46);
  border: 1px solid transparent;

}

.buttonVendas{
  font-size: 1rem;
  font-weight: bold;
  margin-top: 2rem;
  padding: 1rem;
  width: 15rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid #07011e;

}

.buttonVendas:hover{
  background-color: rgba(198, 165, 46);
  border: 1px solid transparent;

}

.footer {
  background-color: #040c3b;
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
  /*margin-top: 20px;*/
}

.footerLinks {
  margin-top: 10px;
}

.footerLinks a {
  color: #5f94c9;
  margin: 0 10px;
  text-decoration: none;
}

.footerLinks a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {

  .main {
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
  }

  .hero {
    height: auto;
    max-width: 90%; /* Ocupa a largura total */
  }

  .heroContant{
    align-items: center;
    width: 100%;
  }

  .heroContant > h1 {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    width: 100%;
  }

  .heroContant > p {
    text-align: center;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .heroContantButton{
    flex-direction: column;
    align-items: center;
  }

  .button, .buttonVendas {
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 0.7rem;
    width: 90%; /* Largura maior para se ajustar ao espaço */
  }

  .main{
    height: auto;
  }

  .heroContantButton{
    display: flex;
    gap: initial;
  }

}