.dashboardLayout {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}


.tarefa-atrasada {
    background-color: #ffe5e5 !important;
    border-left: 4px solid #ff4d4f;
    animation: flash 1.2s infinite !important;
}

.tarefa-concluida {
    background-color: #e6fffb !important;
    border-left: 4px solid #52c41a;
    opacity: 0.8;
}

@keyframes flash {
    0% { background-color: #fff1f0; }
    50% { background-color: #ffe5e5; }
    100% { background-color: #fff1f0; }
}

