.board {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 8px;
    gap: 32px;
    width: 100%;
    position: relative;
}

.column {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 350px;
    /*max-width: 33%;*/
    height: 100%;
}

.column > h3 {
    text-align: center;
    margin-bottom: 16px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #f5f5f5;
}

.titleBoard{
    width: 60%;
    height: 5px;
    background-color: #005bb5;
    border-radius: 10px;
    margin-bottom: 25px;
}

/*LEAD*/
.leadList {
    box-sizing: border-box;
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 150px);
    width: 100%;
    gap: 8px;
    border-radius: 15px;
    overflow-x: hidden;
    overflow-y: auto;
    /*background-color: #e0e0e0;*/
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);*/
}

.fadeTop, .fadeBottom {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 30px; /* Ajuste a altura conforme necessário */
    pointer-events: none;
    z-index: 10; /* Certifique-se de que o z-index seja maior que o conteúdo rolável */
}

.fadeTop {
    top: 66px;
    background: linear-gradient(to bottom, rgba(245, 245, 245, 1), rgba(245, 245, 245, 0));
    border-radius: 15px 15px 0 0;
}

.fadeBottom {
    bottom: 0;
    background: linear-gradient(to top, rgba(245, 245, 245, 1), rgba(245, 245, 245, 0));
    border-radius: 0 0 15px 15px;
}

.leadList::-webkit-scrollbar {
    width: 3px;
    height: 3px; /* A altura só é vista quando a rolagem é horizontal */
}

.leadList::-webkit-scrollbar-track {
    background: transparent;
    padding: 2px;
}

.leadList::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 25px;
}


.leadCell {
    width: 100%;
}

.leadContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lead {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    max-width: 400px;
    width: 100%;
    gap: 8px;
    margin: 8px;
    padding: 8px;
    border: 1px solid lightgrey;
    border-radius: 15px;
    background-color: white;
    cursor: grab;
}

.leadCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.leadContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.leadContentText > h2 {
    color: #005bb5;
    font-size: 16px;
    font-weight: 500;
}

.leadContentText > p {
    max-width: 200px;
}

.userImage {
    width: 48px;
    height: auto;
}

.tooltip {
    position: absolute;
    width: fit-content;
    margin-left: 10px;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 99999;
    &::before {
        content: '';
        position: absolute;
        top: 10px;
        left: -10px;
        width: 0;
        height: 0;
        border-right: 10px solid rgba(0, 0, 0, 0.8);
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        z-index: 99999;
    }
}

.tooltipLeft {
    position: absolute; /* Changed to fixed */
    width: 250px;
    margin-right: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 99999;
    &::before {
        content: '';
        position: absolute;
        top: 10px;
        right: -10px;
        width: 0;
        height: 0;
        border-left: 10px solid rgba(0, 0, 0, 0.8);
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        z-index: 99999;
    }
}

.actions {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.actionIcon {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.confirmModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2000;
}

.confirmModalContent {
    background-color: white;
    align-self: center;
    justify-self: center;
    padding: 32px;
    border-radius: 4px;
    /*min-height: 400px;*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.confirmModalContent p {
    margin-bottom: 20px;
}

.confirmModalContent button {
    margin: 0 10px;
    background-color: #005bb5;
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
}

.confirmModalContent button:hover {
    background-color: rgba(0, 91, 181, 0.63);
}

.container {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    height: 100vh;
    background-color: #f5f5f5;
    padding: 32px;
}

.headerBar {
    box-sizing: border-box;
}

.button {
    position: absolute;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 1rem;
    max-width: 64px;
    height: auto;
    z-index: 9;
}

.button:hover {
    transform: scale(1.1);
    transition-duration: 0.2s;
}
